<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Bern Web App</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="{{ url_for('contact') }} ">Contact me</a>
        <a href="{{ url_for('admin') }}" class="btn btn-secondary"
          >Admin page</a
        >
      </nav>
    </div>
  </header>
</div>
